# Application
NODE_ENV=development
PORT=3000

# PostgreSQL (TypeORM)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=nestjs_rbac
DB_SYNCHRONIZE=false
DB_LOGGING=true

# Redis (Cache)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TTL=3600
